# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea/

*.yml
*.xml
*.xhtml
*.9.png
*.aab
*.aar
*.aidl
*.txt
*.ttf
*.trace
*.svg
*.snippet
*.smali
*.sh
*.rs
*.rnc
*.regexp
*.psd
*.properties
*.pro
*.MF
*.li

gradlew
gradlew.bat
settings.gradle

HeroHub.iml
.gitattributes

out/
gradle/