{{#partial "content"}}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                Name: IceBreath
                Special Power: ice breath
                flaw: heat
                Age: 17
                Id: 1
                <img src="">
            </div>
            <div class="col-md-6">
                Name: Dizzy
                Special Power: pace
                flaw: intelligence
                Age: 5
                Id: 2
                <img src="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{#each Myhero}}
                {{/each}}
            </div>
        </div>
        <h2><a href='/heroForm.hbs'>Create new Hero</a></h2>
    </div>
{{/partial}}
